<footer class="site-footer container large">
    <div class="copyright">
        Powered by <a href="https://micro.blog" target="_blank" rel="noopener">micro.blog</a>
    </div>

    {{ partial "logo.html" . }}

    <div class="footer-social">
        {{ with .Site.Params.twitter_username }}
        <a class="footer-social-item footer-social-item-twitter" rel="me" href="https://twitter.com/{{ . }}"
                target="_blank" rel="noopener" aria-label="Twitter">
                <i class="icon icon-twitter"></i>
            </a>
        {{ end }}
        <a class="footer-social-item footer-social-item-rss"
            href="https://feedly.com/i/subscription/feed/{{ .RSSLink }}" target="_blank" rel="noopener"
            aria-label="RSS">
            <i class="icon icon-rss"></i>
        </a>
    </div>
</footer>