<header class="post-header{{#if big_title}} big-title{{/if}}{{#if single}} container medium{{/if}}">
    {{ if .Title }}
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    {{ end }}
            <div class="post-meta">
                <span class="post-meta-item post-meta-date">
                    <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">Posted on {{ .Date.Format "3:04 PM, Jan 2" }}</time>
                </span>
                <span class="post-meta-item post-meta-length">
                    <!-- currently not possible on micro.blog
                    {{reading_time}}
                    -->
                </span>
                
            </div>

</header>